:root {
  /* Primary Colors */
  --blue: #197799;
  --orange: #c64940;
  --yellow: #d9ba38;
  --black: #000000;
  --white: #ffffff;
  /* Secondary Colors */
  --violet: #7b0096;
  --green: #199991;
  /* Grey Colors */
  --darkgrey: #525252;
  --grey: #b8b4b4;
  --lightgrey: #efefef;

  /* Fonts */

  --primary-fonts: 'Poppins', sans-serif;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

button {
  border: 0;
}
body {
  font-family: var(--primary-fonts);
}

.container {
  max-width: 1376px;
  margin-left: auto;
  margin-right: auto;
}

/* Media queries de Tailwind */
@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}
.banner {
  background-color: var(--black);
  text-transform: uppercase;
  font-style: normal;
  font-weight: 300;
  font-size: 2.2rem;
  line-height: 3.3rem;
  text-align: center;
  letter-spacing: 0.16em;
  color: var(--white);
  padding: 8px 0;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 32px;
  margin-bottom: 24px;
  overflow: hidden;
}

.navigation {
  display: flex;
}

.navigation-item {
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 3.2rem;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.1em;
  color: var(--black);
  padding: 0 16px;
  text-decoration: none;
  text-transform: uppercase;
}

.cart button {
  cursor: pointer;
}
.login-images {
  display: flex;
}

/* Comienzo Main */
.carrousel img {
  width: 100%;
}

.information {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.information-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 32px;
  gap: 24px;
  cursor: pointer;
}

.information p {
  font-weight: 400;
  font-size: 2.4rem;
  font-size: 2.4rem;
  line-height: 32px;
  letter-spacing: 0.1em;
  color: var(--blue);
}

.boxes {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  padding-bottom: 48px;
}

/* Card Vinos */

.vinos {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
}

.vino-image {
  width: 100%;
  height: 300px;
}
.vinos-card-title {
  font-weight: 800;
  font-size: 4.8rem;
  line-height: 5.6rem;
  text-align: start;
  padding-left: 32px;
  padding: 0 0 24px 16px;
  color: var(--orange);
}

.vinos-pop-up {
  align-items: center;
  font-weight: 800;
  font-size: 4rem;
  line-height: 5.6rem;
  text-align: start;
  padding: 0 24 24px 16px;
  color: var(--orange);
  text-align: center;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 300px;
  margin-bottom: 48px;
}

.heart-inactivo {
  /* position: absolute; */
  /* position: absolute; */
  top: 0;
}

.add-cart {
  /* position: absolute; */
  text-align: end;
  top: 48px;
  cursor: pointer;
}

.add-cart:hover {
  box-shadow: 4px 7px 162px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 4px 7px 162px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 4px 7px 162px 0px rgba(0, 0, 0, 0.75);
}

.card-information-paragraph {
  text-align: center;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.6rem;
  color: var(--white);
  background-color: var(--black);
  padding: 4px 0;
}

.wine-name {
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 2.4rem;
  text-align: center;
  letter-spacing: 0.2em;
  padding: 0 48px;
  color: var(--black);
}

.wine-price {
  font-weight: 500;
  font-size: 2.4rem;
  line-height: 3.2rem;
  display: flex;
  justify-content: center;
  letter-spacing: 0.1em;
  color: var(--black);
}

.wine-unit {
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.6rem;
  text-align: center;
  color: var(--orange);
}

.cuotas {
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.6rem;
  text-align: center;
  color: var(--blue);
}

.destacados-vinos-title {
  font-weight: 800;
  font-size: 4.8rem;
  line-height: 5.6rem;
  color: var(--blue);
}

.background {
  background-image: url(../assets/images/png/background.png);
}

/* Prueba carrito */
.carrito-invisible {
  width: 300px;
  min-height: 200px;
  max-height: 500px;
  background-color: var(--white);
  position: absolute;
  /* display: none; */
  top: 0;
  left: 0;
  overflow: scroll;
  overflow-x: hidden;
}

.carrito-invisible img {
  width: 50px;
}

.btn_borrar {
  width: 100px;
  height: 30px;
  border: 1px solid var(--black);
  background-color: #c64940;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.tbody {
  position: absolute;
  background-color: var(--white);
  /* min-height: 50px; */
  max-height: 200px;
  overflow-y: scroll;
  top: 15%;
  left: 80%;
}
.tbody img {
  width: 50px;
  height: 50px;
}

button {
  cursor: pointer;
}

.secondary {
  display: none;
}

.visible {
  display: block;
}
